{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
,,
{% block body %}
<div class="content">
    <h1 style="text-align: center">Predicting Survival in the Titanic Data Set</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <label>Pclass:</label>
            <input type="int" name="Pclass" id="Pclass" placeholder="Pclass" value="3" ><br><br>
            <label>Sex:</label>
            <input type="str" name="Sex" id="Sex" placeholder="Sex" value="male"><br><br>
            <label>Age:</label>
            <input type="float" name="Age" id="Age" placeholder="Age" value="22.0"><br><br>
            <label>SibSp:</label>
            <input type="int" name="SibSp" id="SibSp" placeholder="SibSp" value="3"><br><br>
            <label>Parch:</label>
            <input type="int" name="Parch" id="Parch" placeholder="Parch" value="0"><br><br>
            <label>Fare:</label>
            <input type="float" name="Fare" id="Fare" placeholder="Fare" value="7.2500"><br><br>

            <input type="submit" value="Predict">

            <h3 style="text-align:left">Another example of input- 1, "female", 38.0, 1, 0, 71.2833. Expected output=1 i.e. "survived"</h3>


        </form>
    </div>
</div>
{% endblock %}